@model ERP.Models.CountryMaster
<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Country </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("Save", "Country", FormMethod.Post))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameWithTitle" class="form-label">Country Name</label>
                            @Html.TextBoxFor(m => m.CountryName, new { @class = "form-control", @placeholder = "Enter Country Name" })
                            @*<input type="text" id="nameWithTitle" class="form-control" required />*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Close </button>
                    <input type="submit" name="Save" value="Save"  class="btn btn-primary"/>
                    @*<button type="button" >Save</button>*@
                </div>
            }
        </div>
    </div>
</div>
