@model ERP.ViewModel.BFViewModel
@{
    Layout = null;
}


@using (Html.BeginForm("Save", "BF", FormMethod.Post))
{
<div class="row">
    <div class="col mb-3">
        <label for="nameWithTitle" class="form-label">BF</label>
        @Html.HiddenFor(m => m.Id)
        @Html.TextBoxFor(m => m.BF, new { @class = "form-control", @placeholder = "Enter BF", @type = "number" })
    </div>
</div>
}