@model ERP.Models.Bf
@{
    Layout = null;
}
    @using (Html.BeginForm("Save", "BF", FormMethod.Post))
    {
        <div class="row">
            <div class="col mb-3">
                <label for="nameWithTitle" class="form-label">BF</label>
                @Html.HiddenFor(m => m.Id)
                @Html.TextBoxFor(m => m.BF, new { @class = "form-control", @placeholder = "Enter BF", @type = "number" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnCancel" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Close </button>
            <input type="submit" name="Save" value="Save" class="btn btn-primary" />
        </div>
    }
