@model ERP.Models.Gsm

<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">GSM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("Save", "GSM", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameWithTitle" class="form-label">GSM</label>
                            @Html.TextBoxFor(m => m.GSM, new { @class = "form-control", @placeholder = "Enter GSM", @type = "number" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Close </button>
                    <input type="submit" name="Save" value="Save" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>